body {
  background: lavenderblush;
  text-align: center;
  margin: auto;
}

.figure {
  display: block;
  width: 200px;
  height: 180px;
  background-color: crimson;
  border-radius: 50%;
}

p:hover {
  background: purple;
  color: white;
}

.figure:hover {
  border-radius: 50% 30% 50% 30%;
  transform: rotate(90deg);
}
